@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Quattrocento:wght@400;700&display=swap');

/* html {
  scroll-behavior: smooth;
} */
.header__name {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  color: white;
  font-style: normal;
  font-size: 24px;
  transform: scaleY(1.2);
}
.primary__name {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: white;
  font-size: 98px;
}

p {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 14px;
}
h3 {
  font-family: 'Lora', serif;
  color: white;
  font-size: 30px;
}

/* CARD TEST */
.expanded-card {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: grid;
  place-items: center;
}
.expanded-card-h {
  font-size: 27px;
  color: var(--fg);
  width: 300px;
  padding: 5px;
  place-self: end center;
}
.expanded-card p {
  width: 300px;
  padding: 5px;
  place-self: start center;
}

.blue {
  color: #5a6478;
}
