@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Serif+Text:ital@0;1&family=Noto+Sans+JP:wght@100..900&display=swap');

.header__name {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  color: white;
  font-style: normal;
  lfont-size: 24px;
  transform: scaleY(1.2);
}
.primary__name {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  color: white;
  font-size: 70px;
}
.primary__title {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  color: #e3e3e3;
  font-weight: 400;
}

.section__header {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  color: #e3e3e3;
  font-size: 46px;
}
.job__title {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
.form-label {
  font-family: 'DM Serif Text', serif;
  font-size: 18px;
  color: white;
}
.form-input {
  border: none; /* Remove default border */
  outline: none; /* Remove default outline */
  padding: 12px; /* Remove default padding */
  transition: border 0.3s ease; /* Smooth transition */
  color: white;
  font-family: 'Cormorant', serif;
}
.form-textarea {
  box-sizing: border-box;
  width: 500px;
  height: 160px;
  outline: none;
  resize: none;
  overflow: hidden;
}

p {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
h3 {
  font-family: 'DM Serif Text', serif;
  color: white;
  font-size: 36px;
}

.blue {
  color: #5a6478;
}
.gradient {
  background: rgb(4, 121, 182);
  background: linear-gradient(
    90deg,
    rgba(4, 121, 182, 1) 0%,
    rgba(132, 0, 255, 1) 100%
  );
}
.lora {
  font-family: 'Lora', serif;
  font-size: 12px;
}
.detail {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  font-size: 14px;
}

/* EMPLOYER CARD */
.employer-title {
  font-family: 'DM Serif Text', serif;
  font-size: 24px;
}
.job-title {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 24px;
}

.relevant-studies {
  font-family: 'DM Serif Text', serif;
  font-size: 16px;
  padding-bottom: 10px;
}
.contact-form {
}
.button {
  font-family: 'DM Serif Text', serif;
  font-size: 20px;
}
